@import '../../../styles/variables';

.schedule-desc {
    padding: 0.5rem 0 3rem;

    .card {
         margin-top: -2px;
    }

    .card.past {
        .card-header .btn-link {
            color: #bbb;
        }
    }

    & > .card > .card-header {
        padding: 0;

        .btn.btn-link {
            position: relative;
            display: block;
            width: 100%;
            text-align: left;
            padding: 1rem 1.25rem;
            text-transform: capitalize;
            text-decoration: none;
            white-space: normal;

            .row div:last-child {
                text-align: right;
            }

            @media (max-width: $screen-tablet) {
                div[class^="col"] {
                    max-width: 100%;
                }
            }
        }

        .badge {
            font-weight: normal;
            font-size: .8rem;

            &.badge-pill {
                line-height: 1rem;
            }
        }
    }
}
