@import '_variables';
@import 'bootswatch/_variables.scss';

@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins';
@import '~bootstrap/scss/reboot';
@import '~bootstrap/scss/transitions';
@import '~bootstrap/scss/utilities';

@import '~bootstrap/scss/buttons';
@import '~bootstrap/scss/card';
@import '~bootstrap/scss/forms';
@import '~bootstrap/scss/list-group';
@import '~bootstrap/scss/input-group';
@import '~bootstrap/scss/nav';
@import '~bootstrap/scss/navbar';
@import '~bootstrap/scss/tables';
@import '~bootstrap/scss/grid';
@import '~bootstrap/scss/type';
@import '~bootstrap/scss/badge';
@import '~bootstrap/scss/modal';
@import '~bootstrap/scss/close';

@import 'bootswatch/theme.scss';

html, body, #root {
    height: 100%;
}

// REACT TABLES
.rt-th {
    font-size: $font-size-base;
    text-transform: uppercase;
    background-color: $gray-900;
    color: $white;
}

/*------------------------------------*\
   COMMON Styles
\*------------------------------------*/

.field-required:after {
    content: "*";
    color: #f00;
}

main.container {
    padding: 80px 15px;
}

h4.badge-info {
    line-height: 1rem;
}

.badge-secondary-gray {
    color: #1a1a1a;
    background-color: #eee;
}

.badge-secondary-gray[href]:hover, .badge-secondary-gray[href]:focus {
    color: #1a1a1a;
    text-decoration: none;
    background-color: #e6e5e5;
}

.badge-primary a {
    color: #fff;
}


// TODO remove
/*------------------------------------*\
   SCHEDULE Styles
\*------------------------------------*/

.schedule-desc {
    padding: 0.5rem 0 3rem;

    .card {
         margin-top: -2px;
    }

    .card.past {
        .card-header .btn-link {
            color: #bbb;
        }
    }

    & > .card > .card-header {
        padding: 0;

        .btn.btn-link {
            position: relative;
            display: block;
            width: 100%;
            text-align: left;
            padding: 1rem 1.25rem;
            text-transform: capitalize;
            text-decoration: none;
            white-space: normal;

            .row div:last-child {
                text-align: right;
            }

            @media (max-width: $screen-tablet) {
                div[class^="col"] {
                    max-width: 100%;
                }
            }
        }

        .badge {
            font-weight: normal;
            font-size: .8rem;

            &.badge-pill {
                line-height: 1rem;
            }
        }
    }
}
