.header-nav {

  padding: 0;
  
  .header-logo {
      height: 80px;
  }
  
  .header-logged-user{
      position: absolute;
      right: 30px;
      top: 5px;
      text-transform: capitalize;
  }
  
  @media(max-width: 1024px) {
      .header-logo {
          height: 60px;
      }
  }
  
  @media(max-width: 768px) {
      .header-logo {
          height: 40px;
      }
  }
}


