@import './styles/main.scss';
@import '~react-table/react-table.css';
@import '~react-datepicker/dist/react-datepicker.css';

body, html {
  margin: 0;
  padding: 0;
}


.ReactTable .rt-td {
  padding: 5px 5px;

  &.align-right {
    text-align: right;
  }
  button.btn-link {
    padding: 0.2rem 0.4rem;
    line-height: 1rem;
  }
}

.ReactTable .rt-th a {
  color: white;
}

.ReactTable .rt-expelled {
  color: #ccc;
  a {
    color: #ccc;
  }
}

.ReactTable .rt-thead.-filters input {
  padding: 3px;
}
