@import './styles/main.scss';
@import '~react-table/react-table.css';
@import '~react-datepicker/dist/react-datepicker.css';

body, html {
  margin: 0;
  padding: 0;
}


.ReactTable .rt-td {
  padding: 5px 5px;
  
  &.align-right {
    text-align: right;
  }
}
.ReactTable .rt-th a {
  color: white;
}

.ReactTable .rt-expelled {
  color: #eee;
  a {
    color: #eee;
  }
}

.ReactTable .rt-thead.-filters input {
  padding: 3px;
}
